# Secrets
.env
*.tfvars
*.tfvars.json
secrets.tfvars

# AWS Specific
.aws/
credentials
access_key

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.class
venv/
.env_venv/
.pytest_cache/
dist/
build/
*.egg-info/

# OS/IDEs
.DS_Store
.idea/
.vscode/
*.swp
